<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multimodel BMC</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<nav>
    <a href="/">Home</a>
    <a href="/generate">Generate</a>
    <a href="/submit">Guide</a>
</nav>
<body>
<!-- textbox for user to input their idea -->
<h1>What is your idea?</h1>
<form action="/generate" method="post">
    <input type="text" name="idea" placeholder="Enter your idea here">
    <input type="submit" value="Submit">
</form>
</body>
</html>