<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMC Generator</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<nav>
    <a href="/">Home</a>
    <a href="/generate">Generate</a>
    <a href="/submit">Guide</a>
</nav>
<body>
<div class="container-index">
    <div class="title">
        <p>Software Platform for the Development and Testing of Agri-Entrepreneurship Ideas</p>
    </div>
 <!-- 嵌入 generate.html 的内容 -->
    <div class="generate-section">
        <h1>What is your idea?</h1>
        <form action="/generate" method="post">
            <input type="text" name="idea" placeholder="Enter your idea here">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="options">
       <!--删除了generate button -->
        <a class="button" href="/submit">Guide</a>
    </div>
</div>
</body>
</html>

