<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agriculture Business Model Canvas Generator</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <a href="/">Home</a>
        <a href="/generate">Quick Generation</a>
        <a href="/submit">Guided Generation</a>
    </nav>

    <!-- Main Container -->
    <div class="container-index">
        <!-- Title Section -->
        <div class="title">
            <h1>CREATE YOUR AGR-BUSINESS CANVAS NOW</h1>
        </div>

        <!-- Description Section -->
        <div class="description">
            <h3>About the Business Canvas</h3>
            <p>
                The Business Canvas is a strategic tool that visually organizes the core aspects of a business: value propositions, customers, and revenue streams. 
                It’s an efficient way to plan and communicate ideas.
            </p>
            <h3>Why Agriculture Needs a Unique Model</h3>
            <p>
                Agriculture faces specific challenges like seasonal cycles, resource management, and tailored customer segments. 
                A specialized business model addresses these factors for greater efficiency and sustainability.
            </p>
            <h3>Our Approach</h3>
            <p>
                By enhancing the traditional Business Canvas, we focus on the unique needs of the agriculture industry. 
                Our platform simplifies the process, empowering agri-entrepreneurs to develop actionable, industry-specific strategies with ease.
            </p>
        </div>

        <!-- Image Section -->
        <div class="image-container">
            <img src="static/images/online-startup-business-model-template.jpg" 
                 alt="Agriculture Business Model Canvas Template" class="canvas-image">
        </div>

        <!-- Options Section -->
        <div class="options">
            <a class="button" href="/generate">Quick Generation: Create an Agriculture BMC Instantly</a>
            <a class="button" href="/submit">Guided Generation: Build an Agriculture BMC Step-by-Step</a>
        </div>
    </div>
</body>
</html>
